#mainimage {
  position: relative;
  text-align: center;
  color: white;
}

#mainimage div {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5.7vw;
  text-shadow: gray .09vw .09vw;
}

#socialmedias {
  text-align: center;
  font-size: 4.2vw;
  padding: 3.3vw 0 3.3vw 0;
}

#socialmedias i {
  color: green;
}

.heading {
  margin-bottom: 1.2rem;
  margin-top: .9vw;
}

.heading a {
  font-size: 3.9vw;
  margin-bottom: 1.8rem;
  padding-left: 3vw;
  text-shadow: grey .15vw .15vw;
  color: rgb(99, 96, 96);
}

.heading a:hover {
  color: green;
}