#mainimage {
  position: relative;
  text-align: center;
  color: white;
}

#mainimage div {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5.7vw;
  text-shadow: gray .09vw .09vw;
}

#socialmedias {
  text-align: center;
  font-size: 4.2vw;
  padding: 3.3vw 0 3.3vw 0;
}

#socialmedias i {
  color: green;
}

.heading {
  border-bottom: 1px green solid;
  margin-bottom: 1.2rem;
  margin-top: .9vw;
}

.heading button {
  padding: 0;
  border: none;
  background: none;
  font-size: 5.1vw;
  margin-bottom: 1.8rem;
  padding-left: 3vw;
  text-shadow: green .15vw .15vw;
}

.post {
  min-height: 51vh;
  padding: 1rem;
}

.content {
  border: lightgray 1px solid;
}

.content > div {
  padding: 0 1.2rem 0 1.2rem;
}

.header {
  margin-top: .9rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
}

.category {
  margin-top: .5rem;
}

.category i {
  padding: 0 .4rem 0 .3rem;
}

.text {
  margin-top: 1.5rem;
}

.cta-btn {
  margin: .9rem 0 .9rem .3rem;
}

.cta-btn button {
  padding: 0;
  border: none;
  background: none;
  font-size: 1rem;
  color: green;
  border-bottom: 1px solid green;
  padding-bottom: 3px;
  font-weight: 700;
}

.cta-btn i {
  font-size: 1rem;
}